<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:insert="common/lib :: copy"/>
    <title>mainPage.html</title>
</head>
<body>
    <div th:insert="common/header :: headerPage"></div>

    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" style="margin-bottom: -35%">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img-fluid w-100" src="/images/carousel/1.jpg" alt="Первый слайд">
            </div>
            <div class="carousel-item">
                <img class="img-fluid w-100" src="/images/carousel/2.jpg" alt="Второй слайд">
            </div>
            <div class="carousel-item">
                <img class="img-fluid w-100" src="/images/carousel/3.jpg" alt="Третий слайд">
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('#carousel').carousel({
                interval: 10000,
                keyboard: false,
                pause: false,
                ride: 'carousel',
                wrap: true
            });
        });
    </script>


    <div class="modal fade" tabindex="-1" role="dialog" id="currentProfileModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Текущий профиль</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Логин: <b>Login</b></p>
                    <p>Пароль: <b>Password</b></p>
                    <small class="mt-2">Дополнительная информация</small>
                    <hr class="mt-0 mb-1"/>
                    <p>Имя: <b>Name</b></p>
                    <p>Фамилия: <b>Surname</b></p>
                    <p>Отчество: <b>Fathername</b></p>
<!--                    <hr/>-->
                </div>
                <div class="modal-footer">
                    <form th:action="@{/editCurrentProfile}" method="post" class="w-100">
                        <button class="btn btn-secondary w-100">Редактировать профиль</button>
                    </form>
                    <form th:action="@{/deleteCurrentProfile}" method="post" class="w-100">
                        <button class="btn btn-danger w-100">Удалить профиль</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>
</html>